rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function getUserRole(userId) {
      return get(/databases/$(database)/documents/users/$(userId)).data.role;
    }

    match /users/{userId} {
      allow read: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null;
    }

    match /products/{productId} {
      // Admins and shopkeepers can get and list products
      allow get, list: if request.auth != null && (getUserRole(request.auth.uid) == 'admin' || getUserRole(request.auth.uid) == 'shopkeeper');
      // Only admins can create, update, and delete products
      allow write, delete: if request.auth != null && getUserRole(request.auth.uid) == 'admin';
    }

    match /sales/{saleId} {
        // Admins and shopkeepers can create new sales
        allow create: if request.auth != null && (getUserRole(request.auth.uid) == 'admin' || getUserRole(request.auth.uid) == 'shopkeeper');
        // Only admins can read sales data for reporting
        allow get, list: if request.auth != null && getUserRole(request.auth.uid) == 'admin';
    }
  }
}