
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isAuth() {
      return request.auth != null;
    }

    function isAdmin() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }

    function isShopkeeper() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'shopkeeper';
    }

    match /users/{userId} {
      allow read: if isAuth();
      allow write: if isAdmin(); // Only admins can create/edit roles
    }

    match /products/{productId} {
      allow read: if isAuth();

      // Admins can do anything
      allow write: if isAdmin();

      // Shopkeepers can create products
      allow create: if isShopkeeper();
      
      // Shopkeepers can update products, but NOT the purchasePrice
      allow update: if isShopkeeper() && !('purchasePrice' in request.resource.data);
    }
    
    match /sales/{saleId} {
        allow create: if isAuth();
        allow read: if isAdmin() || (isShopkeeper() && resource.data.createdBy == request.auth.uid);
        allow write: if isAdmin();
    }
  }
}
